<section>
<div class="homepage">
    <div class="img">
        <img class="relative" src="assets/image/pexels-boonkong-boonpeng-1134176.jpg" alt="">
    </div>
    <div class="homepage-text absolute bottom-16 text-white p-10 text-center justify-center">
        <h4 class="text-[2rem] pb-4">Welcome to Mariana Bay Resort & Spa</h4>
        <h1 class="text-[5rem] pb-6">
            Where we have Amazing Services, Beautiful Location & Facilities
        </h1>
        <a class="button is-primary" href="">
            <span>Book Your Stay</span>
        </a>
    </div>
</div>     
</section>

<section class="book">
    <div class="container flex items-center">
        <div class="grid">
            <div class="box">
                <label>Check-in:</label>
                <input type="date" placeholder="Check-in-Date">
            </div>
            <div class="box">
                <label>Check-out:</label>
                <input type="date" placeholder="Check-out-Date">
            </div>
            <div class="box">
                <label>Adults:</label> <br>
                <input type="number" placeholder="0">
            </div>
            <div class="box">
                <label>Children:</label> <br>
                <input type="number" placeholder="0">
            </div>
        </div>
        <div class="search">
            <input type="submit" value="search">
        </div>
    </div>
</section>

<section>
    <div class="left-info">
        <div class="heading">
            <h4>Luxury Resort</h4>
            <h2>Relax in our Hotel</h2>
        </div>
            <div class="paragraph">
                <p>
                    Lorem ipsum dolor, sit amet 
                    consectetur adipisicing elit. 
                    Officiis in iure earum, repellat 
                    at nemo explicabo rerum temporibus. 
                    Voluptates dignissimos earum similique 
                    veritatis, odio iusto nihil velit totam 
                    maiores temporibus!
                </p>
            </div>
            <div class="link">
                <a href="#">View Rooms</a>
            </div>
            <a class="button is-primary" href="">
                <span>Book Your Stay</span>
            </a>
        </div>
</section>