<section>
<div class="homepage">
    <div class="img">
        <img class="relative" src="assets/image/pexels-boonkong-boonpeng-1134176.jpg" alt="">
    </div>
    <div class="homepage-text absolute bottom-16 text-white p-10 text-center justify-center">
        <h4 class="text-[2rem] pb-4">Welcome to Mariana Bay Resort & Spa</h4>
        <h1 class="text-[5rem] pb-6">
            Where we have Amazing Services, Beautiful Location & Facilities
        </h1>
        <a class="button is-primary" href="">
            <span>Book Your Stay</span>
        </a>
    </div>
</div>     
</section>
